<% provide(:title, 'Find Homes for Sale and for Rent') %>
<div id="primary-nav">
<div class="inner">

<ul>
<li class="mobile mobile-only"><a href="#"><span class="entypo-menu" data-text="menu"></span></a></li>
<li class="mobile" id="homecircle-logo"><a href="#"><span class="entypo-home" data-text="home"> <span>Home Circle</a></li>
<li class="non-mobile"><a href="#">Buying</a></li>
<li class="non-mobile"><a href="#">Renting</a></li>
<li class="non-mobile"><a href="#">Selling</a></li>
<li class="non-mobile"><a href="#">Mortgage &amp; Insurance</a></li>
<li class="non-mobile"><a href="#">Advice</a></li>
<li class="mobile"><a href="#" id="primary-logon">Log On</a></li>
<li class="mobile" id="usaa-logo"><a href="#">USAA</a></li>
</ul>
</div>
</div>
<div id="secondary-nav">
<div class="inner">
<form>
<a href="#" class="search-toggle">Buying <span class="entypo-down-open-mini" data-text="down-open"></span></a>
<input type="text" placeholder="City, ZIP, Neighborhood or Military Base" id="main-search-box" />
<button class="entypo-search" data-text="search"><span class="non-mobile"> Search</span></button>
</form>
</div>
</div>
<div id="hero-image">
<div class="inner">
<div id="top-heading">
<h1>Find Your Next Home on Home Circle</h1>
<h2>Get up to $6,000
<span id="moversadvantage">when you buy or sell your home through the <br>USAA MoversAdvantage<sup>&reg;</sup> program<sup>1</sup></span></h2>
<a href="#" id="top-ma-cta">Learn More</a>
</div>
</div>
<div id="main-search-box">
<div class="inner">

<form>
<a href="#" class="search-toggle">Buying <span class="entypo-down-open-mini" data-text="down-open"></span></a>
<input type="text" placeholder="City, ZIP, Neighborhood or Military Base" />
<button type="submit" class="entypo-search icon-search" data-text="search"><span class="non-mobile"> Search</span></button>
</form>
</div>
</div>
<div id="location-label">San Antonio, TX</div>
</div>
<div id="main-content">
<h3>What Makes Home Circle <em>Better</em></h3>
<ul>
<li class="entypo-check" data-text="check"> Millions of MLS Listings</li>
<li class="entypo-check" data-text="check"> Specialized Real Estate Agents</li>
<li class="entypo-check" data-text="check"> USAA Support</li>
</ul>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>

<h3>MoversAdvantage CTA</h3>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>

<h3>MoversAdvantage CTA</h3>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>

<h3>MoversAdvantage CTA</h3>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>

<h3>MoversAdvantage CTA</h3>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>

<h3>MoversAdvantage CTA</h3>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>
</div>


