<% provide(:title, 'Find Homes for Sale and for Rent') %>
<div id="primary-nav">
<ul>
<li><a href="#">Home Circle</a></li>
<li><a href="#">Buying</a></li>
<li><a href="#">Renting</a></li>
<li><a href="#">Selling</a></li>
<li><a href="#">Mortgage &amp; Insurance</a></li>
<li><a href="#">Advice</a></li>
<li id="primary-logon"><a href="#">Log On</a></li>
<li id="usaa-logo"><a href="#">USAA</a></li>
</ul>
</div>
<div id="secondary-nav">
</div>
<div id="hero-image">
<div id="main-search-box">
<h1>Home Circle</h1>
<form>
<input type="text" />
</form>
</div>
</div>
<h2>MoversAdvantage CTA</h2>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>

<h2>MoversAdvantage CTA</h2>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>

<h2>MoversAdvantage CTA</h2>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>

<h2>MoversAdvantage CTA</h2>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>

<h2>MoversAdvantage CTA</h2>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>

<h2>MoversAdvantage CTA</h2>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>

<h2>MoversAdvantage CTA</h2>
<p>A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. A bunch of text will go here to show the scrolling action. </p>


