<% provide(:title, 'Find Homes for Sale and for Rent') %>
<div>
<ul>
<li>Home Circle</li>
<li>Buying</li>
<li>Renting</li>
<li>Selling</li>
<li>Mortgage &amp; Insurance</li>
<li>Advice</li>
</ul>
</div>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>


